* {
  margin: 0;
  padding: 0;
}
.header-blue {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("https://w0.peakpx.com/wallpaper/526/302/HD-wallpaper-iphone-smartphone.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 70vh;
}

@media (min-width: 768px) {
  .header-blue {
    padding-bottom: 100px;
  }
}

.header-blue .navbar {
  background: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@media (min-width: 768px) {
  .header-blue .navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight: bold;
  color: blue;
}

.header-blue .navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.header-blue .navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
}
.navbar-collapse .nav-item {
  font-size: 15px;
}

@media (min-width: 768px) {
  .header-blue .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}

.header-blue .navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  margin-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}

.header-blue .action-button,
.header-blue .action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 0.3rem 0.8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
  width: 25%;
}

.header-blue .action-button:hover {
  color: #fff;
}

/* profile*/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: none;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 60%;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  max-height: 300px;
}
@media (max-width: 600px) {
  .card {
    width: 300px;
    margin-left: -77px;
    flex-direction: column;
  }
  .card-body {
    max-height: 350px;
  }
}
.bg-white{
  background: black;
  opacity: 0.9;
}

/* footer */
footer {
  background: #212529;
}